.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: transparent;
  margin: auto;
  padding: 20px;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#myModal {
  display: block;
}
.radio-divs {
  background: #b2b2b3;
  padding: 16px;
  border-radius: 10px;
  height: 18px;
  margin: 16px 0px 16px 0px;
}

.checkbox-div {
  padding: 16px;
  border-radius: 10px;
  height: 18px;
  margin: 16px 0px 16px 0px;
}

/* custom radio button */

.popup-container * {
  font-size: 16px;
  transition-duration: 300ms;
  user-select: none;
}

.popup-container {
  background: #e6e7e7;
  width: 500px;
  padding: 30px 40px;
  border-radius: 20px;
}

h4 {
  margin: unset;
}

.section {
  background: #b2b3b2;
  padding: 15px;
  font-weight: 500;
  border-radius: 5px;
}

.option {
  display: flex;
  gap: 10px;
  align-items: center;
}
.option1 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.option:hover {
  background: hsl(120, 1%, 50%);
}

input,
label,
.option,
button {
  cursor: pointer;
}

.v-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

.domain-checkbox {
  width: 20px;
  height: 20px;
}

.action-section {
  display: flex;
  gap: 20px;
}
.action-section > button {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  border: none;
}
.success-btn {
  background: #14af5d;
  color: #fff;
}
.cancel-btn {
  background: #b2b3b2;
}

.option input:checked ~ .check {
  background-color: blue;
}
